## Tuples in Python

In [2]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [6]:
#tuples are immutable
#t[0] = 5
print(t[0])

1

In [9]:
# Convert a tuple into a list

l = list(t)
print(l)

l[0] = 5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [16]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [17]:
#concatentation
print(t2 + t)

#Repetion
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [21]:
t = (1,44,3,2)
print(min(t))

1

In [22]:
del t

## Dictionaries in Python

In [30]:
d = {"Mango":100,"Apple":80}
print(d)
#Look Up
print(d["Mango"])

d["Guava"] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":90,"Large":150}

print(d["Pineapple"]["Small"])

{'Mango': 100, 'Apple': 80}
100
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
90

In [31]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [32]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

In [45]:
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [48]:
if "Mangoes" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Doesn't exist

In [51]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [52]:
d2 = {"Strawberry":95}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [53]:
print(len(d))

5

In [55]:
d.clear()
print(len(d))

0

In [58]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}
<class 'dict'>

In [62]:
for k in p.values():
    print(k)

100
120
30
50

### Python Sets

In [82]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [85]:
if 14 in s:
    print("present")
else:
    print("not present")

not present

In [71]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [70]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [81]:
s.clear()

In [88]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

#Those element which are only in one of the sets
print(a1^a2)

{1, 5, 6}